<div class="col-md-3 align-content-center mb-4 mt-4">
    <h3 class="title text-truncate">{{ book.title }}</h3>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <div class="image-background" style='background-image: url("{{ book.bookshelfCoverImageField.one().getUrl() }}");'></div>
            </div>
            <div class="flip-card-back card-back">
                <p class="author"><span>Author:</span> {{ book.bookshelfAuthorField }}</p>
                <p class="genre"><span>Genre:</span> {{ book.bookshelfGenreField }}</p>
                <p class="description text-wrap text-truncate">{{ book.bookshelfBriefDescriptionField }}</p>
                <p class="year"><span>Publication Year:</span> {{ book.bookshelfPublicationYearField }}</p>
            </div>
        </div>
    </div>
</div>
