<div class="col-md-3 align-content-center mb-4 mt-4">
    <h1 class="title text-truncate">{{ book.title }}</h1>
    <p class="author"><span>Author:</span> {{ book.bookshelfAuthorField }}</p>
    <img class="img-thumbnail" src="https://static.scientificamerican.com/sciam/cache/file/1DDFE633-2B85-468D-B28D05ADAE7D1AD8_source.jpg?w=590&h=800&D80F3D79-4382-49FA-BE4B4D0C62A5C3ED{{ book.bookshelfCoverImageField }}" />
    <p class="genre"><span>Genre:</span> {{ book.bookshelfGenreField }}</p>
    <p class="year"><span>Publication Year:</span> {{ book.bookshelfPublicationYearField }}</p>
    <p class="description text-truncate">{{ book.bookshelfBriefDescriptionField }}</p>
</div>
