<div class="modal" tabindex="-1" id="shareBookshelfModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share Bookshelf</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
{#                <a href="{{ craft.app.sites.primarySite.baseUrl }}bookshelf?username={{ craft.app.user.identity.username }}">{{ craft.app.sites.primarySite.baseUrl }}bookshelf?username={{ craft.app.user.identity.username }}</a>#}
                <div class="row">
                    <!-- The text field -->
                    <div class="col-md-12">
                        <input type="text" class="form-control" value="{{ craft.app.sites.primarySite.baseUrl }}bookshelf?username={{ craft.app.user.identity.username }}" id="cipboardInput">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>